body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F55A5A;
    width: 550px;
    height: 55px;
}

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 24px;
    height: 24px;
}

.logo-span {
    font-family: 'Inter';
    color: white;
    font-size: 14.46px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -7.5%;
    margin-left: 10px;
}


.article {
   display: flex;
   justify-content: center;
   margin-top: 45px;

}

.img-photo {
    display: inline-block;
    width: 125px;
    height: 168px;
    border: none;
    border-radius: 5px;
}

.article-info {
    display: inline-block;
    margin-left: 19px;
}

.img-location {
    width: 7px;
    height: 9.55px;
    margin-right: 5px;
}

.span-location {
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 17%;
    width: 40px;
    height: 10px;
    color: #2B283A;
    margin-right: 15px;
    font-size: 10.24px;
}

.a-location {
    color: #918E9B;
    text-decoration: underline;
    font-size: 10.24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;

}

.article-name {
    font-size: 25px;
    font-weight: 700px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B283A;
}

.article-dates {
    font-size: 10.24px;
    font-weight: 700px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B283A;
}

.article-text {
    font-size: 10.24px;
    font-weight: 400px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2B283A;
    max-width: 326px;
}
